<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326216316701-865p3oofffh4vn0bu33t4ahg4ifquu3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326216316701-865p3oofffh4vn0bu33t4ahg4ifquu3i</string>
	<key>API_KEY</key>
	<string>AIzaSyACRoHkljn5OjFgt_RgyZgZkSMxk--UbE4</string>
	<key>GCM_SENDER_ID</key>
	<string>326216316701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialframe</string>
	<key>PROJECT_ID</key>
	<string>vidgo-f9466</string>
	<key>STORAGE_BUCKET</key>
	<string>vidgo-f9466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326216316701:ios:00cba060d4f2e66e7853f4</string>
</dict>
</plist>